@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'stratos';
  src: url('../public/fonts/Stratos-Regular.otf');
}

@font-face {
  font-family: 'stratos-light';
  src: url('../public/fonts/Stratos-Light.otf');
}

@font-face {
  font-family: 'stratos-extrabold';
  src: url('../public/fonts/Stratos-ExtraBold.otf');
}
